body
    color #444
    font-family sans-serif
    line-height: 1.6
    font-size: 1.2em

thead
    font-weight bold

td
    padding: 0.5em

.hidden
    display none

.loader
    padding 1em 0.5em
    background rgba(0, 0, 0, 0.1)
